<div class="flex-container " >
    <div class=" d-flex bg ">
        <div class="img"> 
            <img src={{image}} >
        </div>
        <div class="text-content">
            <h3 class="title">{{titlens}}</h3>
            <p class="subtitle">{{description}}</p>
                <div class="d-flex justify-content-between suby">
                    <a href={{link}} target="_blank">{{source}}</a>
                    <p>{{date|date}}</p>
                </div>
            
        </div>
    </div>

</div>
