<div class="flex-container bg" data-aos="fade-down"   data-aos-duration="1500"  >
    <div class="climate d-flex justify-content-evenly align-items-center">
        <div class="img"> 
            <img src={{img}}  alt="" srcset="">
        </div>
        <div class="date ">
            <span class="day">{{day}}</span><br>
            <span class="month">{{dayno}}{{month}}</span>
        </div>
        <div class="date ">
            <span class="day">{{temperature}}</span><br>
            <span class="month">temperature</span>
        </div>
        <div class="date">
            <span class="day">{{humidity}}</span><br>
            <span class="month">humidity</span>
        </div>
    
    </div>

</div>